bin
.cache
include/SQL.def
include/SQL-parenthesize.str
include/SQL-Permissive.def
include/SQL.generated.pp.af
include/SQL.packed.esv
include/SQL.pp.af
include/SQL.rtg
include/SQL.str
include/SQL.tbl
include/sql.rtree
include/sql.ctree
include/sql.ctree.dep
include/sql.jar
include/sql-java.jar
editor/java/trans
editor/SQL-*.generated.esv
syntax/SQL*.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
/include
sql2clean.jar
sql2clean/strategoxt.jar
sql2clean/src-gen
test/*.aterm
test/papillon/*.aterm
test/*.clean.sql
test/papillon/*.clean.sql
/syntax-gen
